<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
</head>
<body>
    <% // console.log(locals.fileInfo.id )%>
    <%- include ('navbar') %>
    <a href="/profile"><button>back to profile</button></a>
    <h1>download</h1>
    <div style="border: solid black;">
        <%- locals.fileInfo.storageData.thumbnail %>
        <h1>file Id: <%= locals.fileInfo.id %></h1>
        <h1>title: <%= locals.fileInfo.title %></h1>
        <h1>upload date: <%= locals.fileInfo.uploadDate %></h1>
        <h1>uploaderId: <%= locals.fileInfo.uploaderId %></h1>
        <a href="<%= locals.fileInfo.storageData.download_link %>"><button>Download</button></a>
    </div>
</body>
</html>